/* NAVIGATION */

@font-face {
    font-family: 'anderfont';
    src: url(anderfont.otf);
}


h1 {
    width: 200px;
    padding: 10px;
    font-family: 'anderfont';
    font-size: 26px;
    text-align: center;
    color: rgb(0, 255, 170);
    border: 2px solid blueviolet;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px;
    background-color: rgb(26, 8, 5);
    opacity: 0.70;
}


@font-face {
    font-family: 'royal' ;
    src: url(RoyalKing-Free.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');

nav {
    font-family: 'saudagar';
    font-size: 1em;
    border-radius: 2pc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

nav a {
    text-decoration: none;
    color: black;
}

a:visited {
     text-decoration: none; color:black; 
}

nav .onglets {
   display: flex; 
   flex-wrap: wrap;
   align-items: center;
   margin-right: 40px;
}

nav .onglets p {
    margin: 10px;
}